.fancy-header {
    color: #115588; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

h1, h2 {
    color: #115588;
    text-decoration: underline;
}

body {
    background-image: url(../pictures/backgroundPicture1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: aquamarine;
}

ul {
    list-style-type: circle;
}

html {
    font-family: sans-serif;
}

table {
    font-size: 2em;
}

th, tr, td {
    padding: 1em;
    font-size: 1em;
}

a:link {color: red;}
a:visited {color: orange;}
a:hover {color: yellow;}
a:active {color: green;}